$def with (content)
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Spotify migration tool</title>
    <script type="application/javascript" src="static/js/uikit.min.js"></script>
    <link rel="stylesheet" href="static/css/uikit.min.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
</head>
<body>
<div class="uk-container uk-container-center">
    $:content
    <div class="uk-text-small uk-text-muted">
        Spotify migration tool v 0.2.1 <a href="http://aknowakowski.blogspot.com">akn</a>
    </div>
</div>
</body>
</html>
